In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("titanic.csv")
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [64]:
p1_a = 0
p1_b = 0
p2_a = 0
p2_b = 0
for index, rows in df.iterrows():
    if rows['Sex'] == 'female' and rows['Pclass'] == 1:
        p1_b += 1
        if rows['Survived'] == 1:
            p1_a += 1
    
    if rows['Sex'] == 'female' and rows['Pclass'] == 2:
        p2_b += 1
        if rows['Survived'] == 1:
            p2_a += 1

print "p(Survived=true | Sex=female and Pclass=1) = "+str(float(p1_a)/p1_b)
print "p(Survived=true | Sex=female and Pclass=2) = "+str(float(p2_a)/p2_b)

p(Survived=true | Sex=female and Pclass=1) = 0.968085106383
p(Survived=true | Sex=female and Pclass=2) = 0.921052631579

In [65]:
p1_a = 0
p1_b = 0
p2_a = 0
p2_b = 0
p3_a = 0
p3_b = 0
p4_a = 0
p4_b = 0

for index, rows in df.iterrows():
    if rows['Survived'] == 1:
        p1_b += 1
        if rows['Age'] <= 10.0 and rows['Pclass'] == 3:
            p1_a += 1
       
    p2_b += 1
    p2_a = p1_b
    
    if rows['Age'] <= 10.0 and rows['Pclass'] == 3:
        p3_a += 1
    p3_b = p2_b
    
    if rows['Age'] <= 10.0 and rows['Pclass'] == 3 and rows['Survived'] == 1:
        p4_a += 1
    p4_b = p2_b    

p1 = float(p1_a)/p1_b    
p2 = float(p2_a)/p2_b  
p3 = float(p3_a)/p3_b  
p4 = float(p4_a)/p4_b
print "p(Survived=true | A<=10 and Pclass=3) = "+str((p1*p2)/p3)
print "p(Survived=true | A<=10 and Pclass=3) = "+str(p4/p3)

p(Survived=true | A<=10 and Pclass=3) = 0.415094339623
p(Survived=true | A<=10 and Pclass=3) = 0.415094339623

In [76]:
x_dict = {}

for index, rows in df.iterrows():
    if rows['Pclass'] == 1 and (rows['Fare'] not in x_dict):
        x_dict[rows['Fare']] = 0

p_class = 0
for index, rows in df.iterrows():
    if rows['Pclass'] == 1:
        p_class += 1
        x_dict[rows['Fare']] += 1

expectation = 0
for fare in x_dict.keys():
        expectation += fare*(float(x_dict[fare])/p_class)

print "Expectation = "+str(expectation)

Expectation = 84.1546875